body {
    background-color: #DAD7CD;
}

.forecast-box {
 background-color: #344E41;
 color: white;
 border: solid 2px white;
  
}

.weather-box {

background-color: white;
border: solid 2px #344E41;
}

.header {
background-color: #3A5A40;
}

.mt-1, .my-1 {
    margin-top: 1.25rem !important;
    
  }

  .button-style {
    background-color: #A3B18A;
    color: white;
  }

  #search-input {
border: solid, 2px, #588157;
  }