body {
  background-color: #dad7cd;
}

.forecast-box {
  background-color: #3a5a40;
  color: white;
  border: solid 2px white;
}

.card-box {
  margin: 0.5%;
}
.weather-box {
  background-color: white;
  border: solid 2px #344e41;
}

.header {
  background-color: #3a5a40;
}

.mt-1,
.my-1 {
  margin-top: 1.25rem !important;
}

.button-style {
  background-color: #a3b18a;
  color: white;
}

#search-input {
  border: solid, 2px, #588157;
}
#forecast {
  padding-left: 1.5%;
}
